@import 'variables';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Inconsolata', monospace;
}

body {
  height: 100vh;
  width: 100vw;
  border: $devborder solid green;
  background-color: $background;
  overflow: hidden;
}

.flexColCenter {
  border: $devborder solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topHalf {
  width: 100%;
  height: 100%;
}

.abouttime {
  width: $abouttimeSize;
  height: $abouttimeSize;
  border: $devborder solid yellow;
  position: relative;
}

.hoursx10, .hoursx01, .minutesx01, .minutesx10, .secondBlinker {
  position: absolute;
  left: 0px;
  top: 0px;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
}

.details {
  border: $devborder solid cyan;
  text-align: center;
  width: 100%;
  color: $fontColor;
  padding-bottom: 2vh;
}

.timeLabel {
  border: $devborder solid pink;
  font-size: $fontSizeTimeLabel;
}

.time {
  border: $devborder solid pink;
  font-size: $fontSizeTime;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeHours, .timeMinutes, .timeColon {
  border: $devborder solid blue;
}

.timeRandom {
  border: $devborder solid orange;
  font-size: $fontSizeVariance;
}

.colorBackground {
  color: $background;
}
