@import 'variables';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Inconsolata', monospace;
  color: #666;
}

body {
  height: 100vh;
  width: 100vw;
  border: $devborder solid green;
  background-color: $background;
  overflow: hidden;
}

.flexColCenter {
  border: $devborder solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abouttime {
  width: $abouttimeSize;
  height: $abouttimeSize;
  border: $devborder solid yellow;
  position: relative;
}

.hoursx10, .hoursx01, .minutesx01, .minutesx10, .secondBlinker {
  position: absolute;
  left: 0px;
  top: 0px;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
}

.details {
  width: 100%;
  border: $devborder solid cyan;
  text-align: center;
}

.time {
  border: $devborder solid pink;
  font-size: $fontSizeTime
}

.timeRandom {
  border: $devborder solid orange;
  font-size: $fontSizeVariance;
}
