$devBorder: 0px;

$background: white;

$fontColor: black;
$fontSizeTimeLabel: 17px;
$fontSizeTime: 62px;
$fontSizeVariance: 17px;
$abouttimeSize: 470px;

$knobColor: black;
$knobPositionColor: red;
$knobPadding: 20px;
