$devBorder:1px;

$background: white;

$fontColor: black;
$fontSizeTimeLabel: 17px;
$fontSizeTime: 62px;
$fontSizeVariance: 17px;

$abouttimeSize: 470px;

$knobColor: black;
$knobPositionColor: red;
$knobPadding: 50px;

$colorNavBackground: white;
$colorHello: #EEE;

$navPaddingTouchTB: 5px;
$navPaddingTouchLR: 5px;

$navIconWidth: 35px;
$navIconHeight: 29px;
$navIconCircle: 39px;

$navPaddingTB: 5px;
$navPaddingLR: 5px;
